.judul-ul {
    color: white;
    display: flex;;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-size: xx-large;

}

.body {
    background-color: black;
    /* background-image: url("night-ocean-landscape-full-moon-stars-shine_107791-7397.avif");
    position: absolute;
    background-position: center;
    background-size: cover; */
}

.container-header {
    position: relative
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.background-video {
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}




.navbar-atas {
    background-color: white;
    border-radius: 20px;

}

.navbaratas-ul {
    color: rgba(255, 0, 0, 0.939);
    
}

.container1 {
    background-image: url("night-ocean-landscape-full-moon-stars-shine_107791-7397.avif");s
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.kotak1 {
    display: flex;
    justify-self: center;
    align-self: center;
    height: 100%;
    width: 98%;
    border-radius: 50px;
    backdrop-filter: blur(40px);
    background-color: rgba(0, 0, 128, 0.18);

                }

.kotak1-1 {

    display: flex;
    justify-self: center;
    align-self: center;
    height: 30%;
    width: 100%;
    border-radius: 50px;
    backdrop-filter: blur(40px);
    background-color: rgba(0, 0, 128, 0.113);

    }

