.background {
    background-image: url("night-ocean-landscape-full-moon-stars-shine_107791-7397.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 100%;
    height: 100%;
}

.container::-webkit-scrollbar {
    display: none;
}